@font-face {
	font-family: 'FontAwesome';
	src: url('.././fonts/fontawesome-webfont.eot');
	src: url('.././fonts/fontawesome-webfont.eot') format('embedded-opentype'), 
	url('.././fonts/fontawesome-webfont.woff2') format('woff2'), 
	url('.././fonts/fontawesome-webfont.woff') format('woff'), 
	url('.././fonts/fontawesome-webfont.ttf') format('truetype'), 
	url('.././fonts/fontawesome-webfont.svg?') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'myriadpro-regular';
	src: url('../fonts/myriadpro-regular.eot');
	src: url('../fonts/myriadpro-regular.eot?iefix') format('embedded-opentype'),
	url('../fonts/myriadpro-regular.woff') format('woff'),
	url('../fonts/myriadpro-regular.ttf') format('truetype'), 
	url('../fonts/myriadpro-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 15px;
}

.fa-chevron-down:before {
	content: "\f078";
}

i.fa.fa-chevron-down {
	font-size: 42px;
}

.icon-down {
	cursor: pointer;
	margin-top: 30px;
}

dl mark audio {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'myriadpro-regular';
	background-color: #FFF;
}

ol,
ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

a,
a:hover {
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.slider {
	width: 74%;
	margin: 100px auto;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	max-width: 100%;
}

.slick-prev:before,
.slick-next:before {
	color: #9c9c9c;
}

.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}

.slick-active {
	opacity: .5;
}

.slick-current {
	opacity: 1;
}

.container {
	margin: 0 auto;
}

#header {
	position: absolute;
	top: 125px;
	left: 0;
	right: 0;
	width: 100%;
	padding: 20px 0;
}

.logo {
	text-align: center;
}

.nav {
	float: left;
	margin-top: -25px;
	-webkit-writing-mode: vertical-lr;
	-moz-writing-mode: vertical-lr;
	-o-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: vertical-lr;
}

.nav li {
	float: left;
	margin-top: 45px;
	transform: rotate(180deg);
}

.nav li:first-child {
	margin-top: 0;
}

.nav a {
	color: #fff;
	padding-right: 60px;
}

.nav a:hover {
	color: #ef4044;
	-webkit-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
}

#home {
	padding-top: 145px;
	text-align: center;
	color: #FFF;
	height: 710px;
	background: #222 url(../img/technology.png) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#home .logo,
#home .container {
	margin-left: 19px;
}

#home h1 {
	text-transform: uppercase;
	margin-bottom: 50px;
}

ul.nav.fixed {
	margin-top: 0;
	padding: 50px 30px 0 30px;
	background: #000;
	transition: background ease-out 0.5s;
	z-index: 99;
}

.nav.fixed a {
	padding-right: 0;
}

hr {
	background-color: #ef4044;
	height: 10px;
	border: none;
	width: 220px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: 25px 55px;
	font-size: 20px;
	color: #FFF;
	cursor: pointer;
	background: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	border: 3px solid #fff;
	margin-top: 100px;
}

form .btn {
	display: inline-block;
	padding: 25px 55px;
	font-size: 20px;
	color: #FFF;
	cursor: pointer;
	background: #ef3f43;
	text-transform: uppercase;
	letter-spacing: 4px;
	border: 0;
	margin-top: 10px;
	border-radius: 10px;
}

button.btn:hover {
	border: 3px solid #ef3f43;
	color: #ef3f43;
	-webkit-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
}

form .btn:hover {
	background: #fff;
	color: #ef3f43;
	border: 2px solid #ef3f43;
}

p.title {
	margin-top: 85px;
	font-size: 30px;
	letter-spacing: 10px;
}

p.top_title {
	margin: 70px 0;
	font-size: 42px;
	letter-spacing: 3px;
}

.box {
	padding: 100px 0;
}

#services {
	text-align: center;
	height: 530px;
}

#services hr {
	margin-bottom: 50px;
}

h2.title {
	text-align: center;
	text-transform: uppercase;
	color: #222;
	margin-bottom: 50px;
	font-size: 40px;
}

h5.title {
	color: #292929;
	font-size: 22px;
	font-weight: normal;
}

.descr {
	text-align: center;
	font-size: 20px;
	line-height: 1.4;
	color: #7f8a90;
}

.services-wrap,
.portfolio-wrap,
.about-wrap {
	padding-top: 65px;
}

.services-wrap {
	width: 1000px;
	margin: 0 auto;
}

.services-item {
	float: left;
	position: relative;
	width: 30.33%;
	padding: 206px 10px 0;
}

.services-item p {
	font-size: 18px;
	line-height: 24px;
	color: #777;
}

.services-item span {
	position: absolute;
	right: -13px;
	top: 70px;
	font-size: 17px;
	text-transform: uppercase;
}

.count {
	position: absolute;
	right: 30px;
	top: 0;
	text-transform: uppercase;
}

.count span {
	font-size: 55px;
}

.commerce {
	background: url(../img/project1.png) no-repeat top;
	background-position-x: 60%;
}

.responsive {
	background: url(../img/project2.png) no-repeat top;
	background-position-x: 60%;
}

.security {
	background: url(../img/project3.png) no-repeat top;
	background-position-x: 60%;
}

#portfolio {
	height: 680px;
	text-align: center;
	background: #e2e1e1;
}

#portfolio .btn {
	color: #272727;
	border: 3px solid #272727;
	padding: 18px 97px;
	letter-spacing: 2px;
	margin-top: 90px;
}

#portfolio .btn:hover {
	border: 3px solid #ef3f43;
	color: #ef3f43;
	-webkit-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
}

.portfolio-wrap3,
.portfolio-wrap {
	width: 1000px;
	margin: 0 auto;
}

.portfolio-item {
	display: inline-block;
	width: 24%;
	margin-bottom: 70px;
}

.portfolio-item-3 {
	display: inline-block;
	width: 33%;
}

.p-item-footer {
	padding: 25px 20px;
}

.p-item-footer h5.title {
	margin-bottom: 4px;
}

#About {
	height: 1400px;
	text-align: center;
	background: #fff;
}

.about-text {
	width: 35%;
}

.about-img {
	width: 35%;
}

.about-img:after {
	content: '';
	display: block;
	height: 94px;
	width: 3px;
	margin: 0 auto;
	background: #f1f1f1;
}

.about-text h5 {
	line-height: 24px;
}

.about-text h5 span {
	text-transform: uppercase;
}

.about-text p {
	font-size: 16px;
	color: #777;
	line-height: 24px;
}

.about-img {
	width: 30%;
}

.about-img img,
.about-link {
	display: inline-block;
	width: 177px;
	height: 177px;
	border: 7px solid #f1f1f1;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.about-link {
	text-transform: uppercase;
	background: #fed136;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, .3);
}

#team {
	background: url(../img/background.png) no-repeat center bottom;
	text-align: center;
	height: 373px;
	background-size: cover;
}

#team p.title {
	color: #fff;
	margin-top: 60px;
}

.team-item {
	margin-top: 90px;
	float: left;
	width: 33.33%;
}

.team-item img {
	margin-bottom: 15px;
	border: 7px solid #fff;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.team-info {
	margin-top: 55px;
}

.cat {
	color: #777;
}

#brand {
	padding: 60px 0;
	text-align: center;
}

#brand a {
	display: inline-block;
	margin-right: 40px;
}

#brand a:last-child {
	margin-right: 0;
}

#brand img {
	vertical-align: middle;
}

#contact {
	height: 518px;
	text-align: center;
	background: #e2e1e1;
}

#contact hr {
	margin-bottom: 60px;
}

form {
	width: 560px;
	margin: 0 auto;
}

#messege .left,
#messege .right {
	width: 48%;
	padding-top: 70px;
	margin-bottom: 20px;
}

#messege input[type="email"],
#messege input[type="text"],
#messege textarea {
	margin-bottom: 15px;
	box-shadow: none;
	background: #fff;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #4b92c3;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

form input.btn {
	padding: 19px 65px;
	letter-spacing: 0;
}
#messege input[type="email"],
#messege input[type="text"] {
	padding: 0 30px;
	color: #222;
	height: 60px;
	border: 1px solid #4b92c3;
}

#messege textarea {
	font-family: 'myriadpro-regular';
	font-size: 16px;
	padding: 25px 30px;
	color: #222;
	height: 138px;
	box-shadow: none;
	resize: none;
}

::-webkit-input-placeholder {
	text-transform: uppercase;
	color: #bbb;
}

::-moz-input-placeholder {
	text-transform: uppercase;
	color: #bbb;
}

#copyright {
	padding: 25px 0;
	background: #272727;
}

#copyright p {
	color: #cac9c9;
	text-align: center;
	font-size: 15px;
}

#copyright .social {
	margin-top: 0;
	margin-left: 365px;
}

@keyframes bounce {
	0%,
	20%,
	60%,
	100% {
		-webkit-animation: translateY(0);
		-moz-animation: translateY(0);
		-ms-animation: translateY(0);
		-o-animation: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-animation: translateY(-20px);
		-moz-animation: translateY(-20px);
		-ms-animation: translateY(-20px);
		-o-animation: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		-webkit-animation: translateY(-10px);
		-moz-animation: translateY(-10px);
		-ms-animation: translateY(-10px);
		-o-animation: translateY(-10px);
		transform: translateY(-10px);
	}
}

.icon-down i.fa.fa-chevron-down:hover {
	-webkit-animation: bounce 1.3s infinite;
	-moz-animation: bounce 1.3s infinite;
	-ms-animation: bounce 1.3s infinite;
	-o-animation: bounce 1.3s infinite;
	animation: bounce 1.3s infinite;
	color: #ef4044;
}
.icon-down a {
	color: #fff;
}
@media (max-width: 1024px) {
	.portfolio-item,
	.portfolio-item-3,
	.services-item {
		width: 45%;
		margin-bottom: 30px;
	}
	#portfolio,
	#services {
		height: auto;
	}
	.portfolio-wrap3,
	.portfolio-wrap,
	.services-wrap {
		width: auto;
	}
	button.slick-prev {
		left: -50px;
	}
	button.slick-next {
		right: -50px;
	}
}

@media (max-width: 960px) {
	#home .container {
		width: 400px;
		margin: 0 auto;
	}
	p.title {
		margin-top: 50px;
	}
	.btn {
		margin-top: 50px;
	}
	ul.nav.fixed {
		position: static;
		background: none;
	}
}

@media (max-width: 767px) {
	p.top_title {
		font-size: 30px;
	}
}